<p>insurance works!</p>
<div class="header">
    <div class="container">
        <div class="page_title p-5 px-3">
            <h1>Plans for your Hero Motocorp Passion Pro 100CC</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p>Hero Motocorp Passion Pro 100CC</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p>Bike Bought in 2011</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p>Current Policy <b>Expired</b><a href="#" class="text-decoration-none m-4">Edit</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card text-left shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h4 class="card-title">Third Party Plan</h4>
                            <p class="card-text">Only covers tihrd party losses, damage to your bike is not covered <a href="#" class="text-decoration-none">See details</a></p>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <img src="#" alt="icon">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="three_year"/>
                            <label>3 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹2,256+GST</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="two_year"/>
                            <label>2 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹1,504+GST</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="one_year"/>
                            <label>1 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹752+GST</b></p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h4 class="card-title">Personal Accident Cover @ ₹1,050</h4>
                            <p class="card-text">By not adding this, you agree that you already have individual <a href="#"></a>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-outline-primary">Add</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">Buy Now</button>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card text-left shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h4 class="card-title">Third Party Plan</h4>
                            <p class="card-text">Only covers tihrd party losses, damage to your bike is not covered <a href="#" class="text-decoration-none">See details</a></p>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <img src="#" alt="icon">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="three_year"/>
                            <label>3 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹2,256+GST</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="two_year"/>
                            <label>2 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹1,504+GST</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="three_year" id="one_year"/>
                            <label>1 year plan</label>
                        </div>
                        <div class="col-md-4">
                            <p><b>₹752+GST</b></p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h4 class="card-title">Insured Value <a href="#" class="text-decoration-none">₹16,437</a></h4>
                            <p class="card-text">By not adding this, you agree that you already have individual <a href="#"></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="text-decoration-none">Edit</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Personal Accident Cover @ ₹1,050</h4>
                            <p class="card-text">By not adding this, you agree that you already have individual <a href="#"></a>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-outline-primary">Add</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">Buy Now</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>