<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Insurance <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" (click)="SavePDF()"><i class="fa fa-plus"></i> Download PDF</button>
                    </div>
                </div>
            </div>
            <div id="content" #content>
                <table class="table table-bordered text-center">
                    <tr>
                        <th>Name</th>
                        <td>GJ</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>9999999999</td>
                    </tr>
                    <tr>
                        <th>Vehicle Number</th>
                        <td>DL3SBY6492</td>
                    </tr>
                    <tr>
                        <th>Vehicle Model</th>
                        <td>2015</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>