<div class="page-content page-container" id="page-content">
    <div class="row container d-flex justify-content-center">
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href="user"><img
                            src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/colours/new-colors/studio-shots/mirage-silver/front-view.png" alt="vehicle picture" class="img-fluid rounded-circle w-60">
                        </a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h6>himalayan</h6>
                        <p>2019</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: kavana</li>
                    <li class="list-group-item">Insurance number :IJK9087JIK90</li>
                    <li class="list-group-item">Reg number :6895423276</li>
                    <li class="list-group-item">Email : <a href="#">PaulGoyette@gmail.com</a></li>
                    <li class="list-group-item">Phone :6895423276</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary " data-placement="top" data-original-title="Edit"> Edit</a>
                        <a href="#" class="btn btn-danger " data-placement="top" data-original-title="Delete">Delete</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href="user"><img
                                src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/colours/new-colors/studio-shots/mirage-silver/front-view.png"
                                alt="vehicle picture" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h6>himalayan</h6>
                        <p>2019</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: kavana</li>
                    <li class="list-group-item">Insurance number :IJK9087JIK90</li>
                    <li class="list-group-item">Reg number :6895423276</li>
                    <li class="list-group-item">Email : <a href="#">PaulGoyette@gmail.com</a></li>
                    <li class="list-group-item">Phone :6895423276</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary " data-placement="top" data-original-title="Edit"> Edit</a>
                        <a href="#" class="btn btn-danger " data-placement="top" data-original-title="Delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>