<div class="row container justify-content-center ">user dashboard</div>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center">
                                <div class="m-b-25"> <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/colours/new-colors/studio-shots/mirage-silver/front-view.png" class="img-radius" alt="User-Profile-Image" width= 200px;> </div>
                                <br><h6 class="f-w-600">himalayan</h6>
                                <br><h6 class="f-w-600">2019</h6>
                            
                            </div>
                        </div><hr>
                        <div class="col-sm-8">
                            <div class="card-block text-center ">
                                <h6 class="m-b-20 p-b-20 b-b-default f-w-600">Personal Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Name</p>
                                        <h6 class="text-muted f-w-400">Kavana</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">pin</p>
                                        <h6 class="text-muted f-w-400">400987</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">98979989898</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Insurance Details</h6>
                                <div class="row p-b-5">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Registration number</p>
                                        <h6 class="text-muted f-w-400">MH-19-0989</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Vehicle type</p>
                                        <h6 class="text-muted f-w-400">bike</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Insurance start date</p>
                                        <h6 class="text-muted f-w-400">5-jul-2019</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Insurance end date</p>
                                        <h6 class="text-muted f-w-400">5-jul-2022</h6>
                                    </div>
                                </div><a href="#" class="btn btn-outline-success">download insurance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
