
<div class="container-fluid  " class="bg-image">
 
  <div class="row mb-4">
      <div class="col-lg-5 mx-auto text-center">
          <h1 class="display-6">GetQuote</h1>
      </div>
  </div> <!-- End -->
  <div class="row ">
      <div class="col-lg-6 mx-auto">
          <div class="card ">
              <div class="card-header">
                  <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                      <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                          <li class="nav-item "> <a data-toggle="pill" href="#car" class="nav-link active "> <i class="fas fa-car"></i> Car </a> </li>
                          <li class="nav-item"> <a data-toggle="pill" href="#bike" class="nav-link "> <i class="fa fa-motorcycle"></i> Bike </a> </li>
                      </ul>
                  </div> <!-- End -->

<div class="tab-content ">
                      <div id="car" class="tab-pane fade show active pt-3">
                          <form role="form" (ngSubmit)="save()">
                              <div class="form-group "> <label for="carnumber">
                                      <h6 class="text-gray">Enter your car number</h6>
                                  </label> <input type="text" name="carnumber" placeholder="eg-MH00112" required class="form-control "> </div>
                             
</form>
</div>




                      <div id="bike" class="tab-pane fade pt-3">
                          <form role="form" (ngSubmit)="submit()">
                             
                          <div class="form-group"> <label for="bikeNumber">
                                      <h6>Enter your bike number</h6>
                                  </label>
                              <input type="text" name="bikeNumber" placeholder="eg-MH00112" required class="form-control "> </div>
                                </form>
</div>
</div>
<div class="form-group">
                          <p> <button type="submit" class="btn btn-primary ">Submit</button> </p>
                      </div>


</div>
</div>
</div>
</div>